@model MaxCinema.Models.Movie


@{
    ViewData["Title"] = "CreateMovie";
}

<h1 class="family-font accor-button glass-effect striped-background red-border">Admin Console</h1>

<hr />
<div class="row family-font accor-button glass-effect striped-background mb-5">
    <div class="col-md-4">
        <form asp-action="CreateMovie">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group box-shadow">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group box-shadow">
                <label asp-for="Director" class="control-label"></label>
                <input asp-for="Director" class="form-control" />
                <span asp-validation-for="Director" class="text-danger"></span>
            </div>
            <div class="form-group box-shadow">
                <label asp-for="ReleaseYear" class="control-label"></label>
                <input asp-for="ReleaseYear" class="form-control" />
                <span asp-validation-for="ReleaseYear" class="text-danger"></span>
            </div>
            <div class="form-group box-shadow">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group box-shadow">
                <label asp-for="Url" class="control-label"></label>
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div class="form-group box-shadow">
                <input type="submit" value="Create" class="btn btn-primary m-lg-3 box-shadow m-3 display-6" />
            </div>
        </form>
    </div>
</div>

<div class="family-font">
    <a asp-action="Index" class="accor-button glass-effect striped-background red-border mt-3">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
