@model MaxCinema.Models.Customer

<h1 class="family-font">Customer information</h1>
<partial name="_CustomerPartial" model="@Model" class="family-font" />
<a asp-action="CartDisplay" asp-controller="Cart" class="btn btn-primary family-font">Back to the cart</a>
<br />
<br />
<a asp-action="OrderConfirmed" class="btn btn-primary family-font">Confirm the order</a>
