@model MaxCinema.Models.Movie
@using System.ComponentModel.DataAnnotations;
@using MaxCinema.Data;




<div class="card text-white accor-button glass-effect striped-background red-border family-font">
    <div class="card">
        <img src="@Model.Url" class="card-img-top" alt=@Model.Id>
        <div class="card-body">
            <h5 class="card-title family-font" title="Harry Potter">@Model.Title</h5>
            <p class="card-text family-font"><strong>Release Year:@Model.ReleaseYear | Director:@Model.Director | Price:@Model.Price SEK</strong></p>
        </div>
        <div class="card-footer">
            <button onclick="AddToCart(@Model.Id)" type="button" class="btn btn-primary btn-md-3 box-shadow m-3">
                <span class="glyphicon glyphicon-shopping-cart">
                </span>
                <b class="family-font"> Add to Cart </b>
            </button>
            <small class="text-muted family-font"> &copy; Max Cinema</small>
            <a asp-action="DetailMovie" asp-route-id="@Model.Id" class="btn btn-danger btn-md-3 box-shadow m-3 family-font">Check Movie</a>
        </div>
    </div>

</div>

