<div class="family-font accor-button glass-effect striped-background red-border box-shadow">
    <h1>
        Is your cart empty?
    </h1>
    <h2>
        Become our member NOW!
    </h2>
</div>


<a class="btn btn-primary family-font" asp-action="CreateCustomer" asp-controller="Customer">Become A Member</a>
